body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.image-background {
  background:url("../img/turntable.jpg");
  background-size: cover;
  max-width: 100%;
  height: 100%;
}

.image-background {
  background:url("../img/turntablegirl.jpg");
  background-size: cover;
  max-width: 100%;
  height: 120%;
}

canvas {
  position: absolute;
  top:0px;
}
